<div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Id</label>
        <input [(ngModel)]="user.id" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Nombre</label>
        <input [(ngModel)]="user.nombre" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Telefono</label>
        <input [(ngModel)]="user.telefono" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Dirección</label>
        <input [(ngModel)]="user.direccion" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>

    <button type="submit" class="btn btn-primary" (click)="addDepartment()">{{admin.departmentCurrent ? 'Editar' : 'Agregar'}}</button>
</div>